<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
    <div class="col-8 offset-2">
  
<body>
    <h3>Edit Listing</h3>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="listing[title]" id="title" value="<%= listing.title %>" class="form-control">

        </div>
       
       
        <div class="mb-3">
            
        <label for="description" class="form-label">Description</label>
        <textarea name="listing[description]" id="description" class="form-control"><%= listing.description %></textarea>

        </div>


        <div class="mb-3">
         <label for="image" class="form-label">Upload New Image </label>
            <input type="file"  name="listing[image]"  class="form-control">
        </div>

        <div class="row">

        <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
        <input type="number" name="listing[price]" id="price" value="<%= listing.price %>" class="form-control">

        </div>


        <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country:</label>
            <input type="text" name="listing[country]" id="country" value="<%= listing.country %>" class="form-control">

        </div>
    </div>


        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input type="text" name="listing[location]" id="location" value="<%= listing.location %>" class="form-control">
        </div>


        <button type="submit" class="btn btn-dark edit-btn mt-3">Edit</button>
    </form>
          
</div>
</div>
<script src="/js/script.js"></script>

